@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h1><span class="alert-danger">@Model.ShortMessage</span></h1>
    </div>
   
</div>
